body {
 display: flex;
 font-family: Arial, Helvetica, sans-serif;
 justify-content: center;
 align-items: center;
 margin: 0;
 flex-direction: column;
}

.barra {
 background-color: green;
 width: 100%;
 padding: 10px;
}

p {
 color: white;
 display: flex;
 justify-content: center;
 text-align: center;
 font-size: 15px;
 margin: 0;
}

.navbar {
 border: solid 1px blue;
 display: flex;
 padding: 40px;
 width: 100%;
}

